[id^='sb__open-sandbox'] {
  display: none;
}

.tui-image-editor-header {
  display: none;
}

.tui-image-editor-item.tie-btn-delete,
.tui-image-editor-item.tie-btn-deleteAll {
  display: none !important;
}

.tui-image-editor {
  max-width: 100vw;
}

.tui-image-editor-controls {
  display: none;
}

.tui-image-editor-menu {
  display: none;
}

.tui-image-editor-submenu {
  display: none;
}

.tui-image-editor-header {
  display: none;
}
.tui-image-editor-controls-buttons {
  display: none !important;
}
