.purchase {
  .card {
    transition: all 500ms ease;
    &:hover {
      transform: scale(1.03);
    }
    .card-body {
      .title {
        margin-top: 0;
        background: rgba(140, 241, 241, 0.199);
      }
      .pricing {
        background: rgba(140, 241, 241, 0.199);
        border-top-left-radius: 55%;
        border-top-right-radius: 55%;
      }
    }

    .btn {
      border-radius: 30px;
    }
  }
}
