* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.kuang {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -10;
  width: 100%;
  height: 100%;
  /* background-image: linear-gradient(
    160deg,
    rgb(119, 149, 248),
    rgb(85, 90, 191)
  ); */
  background-color: #171941;
}
.bubble {
  position: absolute;
  color: white;
  font-size: 2rem;
  border-radius: 50%;
  box-shadow: inset 0 0 80px #0c4c84;
  opacity: 0;
  animation: flutter 0s infinite;
}
@keyframes flutter {
  0% {
    transform: translateX(0);
    opacity: 0.4;
  }

  25% {
    transform: translateX(40px);
    opacity: 0.6;
  }

  50% {
    transform: translateX(60px);
    opacity: 0.8;
  }

  50% {
    transform: translateX(40px);
    opacity: 0.6;
  }

  100% {
    transform: translateX(0px);
    opacity: 0.4;
  }
}
.bubble:nth-child(1) {
  top: -13%;
  left: 5%;
  width: 300px;
  height: 300px;
  background-color: #0277af;
  animation-duration: 14s;
}

.bubble:nth-child(4) {
  top: 80%;
  left: -8%;
  width: 230px;
  height: 230px;
  background-color: #192253;
  animation-duration: 15s;
  animation-delay: 1s;
}

.bubble:nth-child(6) {
  top: 70%;
  left: 60%;
  width: 160px;
  height: 160px;
  background-color: #00939e;
  animation-duration: 14s;
  animation-delay: 2s;
}
/* .bubble:nth-child(7) {
  top: 20%;
  left: 80%;
  width: 210px;
  height: 210px;
  box-shadow: inset 0 0 4px #fff;
  animation-duration: 15s;
  animation-delay: 0.3s;
  background-color: #1F3A89;

} */
.bubble:nth-child(9) {
  bottom: 20%;
  left: 78%;
  width: 340px;
  height: 340px;
  /* box-shadow: inset 0 0 5px #fff; */
  animation-duration: 15s;
}
.bubble:nth-child(10) {
  top: -5%;
  left: 80%;
  width: 400px;
  height: 400px;
  background-color: #285ad2;
  /* box-shadow: inset 0 0 14px #fff; */
  animation-duration: 13s;
}
/* .bubble:nth-child(11) {
  bottom: 10%;
  left: 90%;
  width: 400px;
  height: 400px;
  animation-duration: 17s;
} */
.bubble:nth-child(12) {
  top: 30%;
  left: 15%;
  width: 100px;
  height: 100px;
  background-color: #265ed2;
  /* box-shadow: inset 0 0 11px #fff; */
  animation-duration: 14s;
  animation-delay: 2s;
}
.bubble:nth-child(14) {
  top: 30%;
  left: 40%;
  width: 250px;
  height: 250px;
  background-color: #192253;
  /* box-shadow: inset 0 0 15px #fff; */
  animation-duration: 15s;
  animation-delay: 0.8s;
}
.bubble:nth-child(15) {
  left: -20%;
  width: 160px;
  height: 160px;
  animation-duration: 18s;
}
