.img-mainArea {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  overflow: hidden;
  background: transparent;
  .img-wrapper {
    position: relative;
    width: 90%;
    height: 100%;
    overflow: hidden;
    color: #000;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 5px 16px rgba(19, 18, 18, 0.2);
    .img-title {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      overflow: hidden;
      .cancle-btn {
        position: absolute;
        right: 0;
      }
    }
    #img-region-body {
      width: 100%;
      .home-page {
        background-color: pink;
        // height: 100vh;
       .tui-image-editor-container{
         border: 4px solid red;
         height: 80vh !important;
          .tui-image-editor-controls {
          .tui-image-editor-menu {
            display: flex;
            align-items: center;
            justify-content: center;
          }
       }

        }
        // .tui-image-editor-main-container {
        //   tui-image-editor-main {
        //     position: relative;
        //     padding: 0;
        //     .tui-image-editor-wrap {
        //       .tui-image-editor-align-wrap {
        //         display: flex !important;
        //         flex-direction: column;
        //       }
        //     }
        //   }
        // }
      }
    }
  }
}

[id^='sb__open-sandbox'] {
  display: none;
}

.tui-image-editor-header {
  display: none;
}

.tui-image-editor-item.tie-btn-delete,
.tui-image-editor-item.tie-btn-deleteAll {
  display: none !important;
}

.tui-image-editor {
  max-width: 100vw;
}

.tui-image-editor-menu {
  display: none;
}

.tui-image-editor-header {
  display: none;
}

.tui-image-editor-controls-buttons {
  display: none !important;
}

.tui-image-editor-main {
  top: 30px !important;
}

.tui-image-editor-main {
  width: 100% !important;
}

.tui-image-editor-align-wrap {
  display: inline-block !important;
}

// .tui-image-editor {
//  position: absolute !important;
//  top: 0 !important;
//  left: 14% !important;
//  width: 100% !important;
// }

.lower-canvas,
.upper-canvas  {
  width: 100% !important;
  // height: 60vh !important;

  max-width: 100% !important;
  // max-height: 100% !important;
}

.tui-colorpicker-palette-hex {
  display: none !important;
}
.tui-colorpicker-palette-preview {
  padding: 10px;
}

.tui-image-editor-controls-logo {
  display: none !important;
}