@keyframes scrolled {
  0% {
    top: -70px;
  }
  100% {
    top: 0;
  }
}

.navbar {
  &.scrolled {
    @media (min-width: 768px) {
      position: fixed;
      right: 0;
      left: 0;
      z-index: 10;
      background-color: #1d8cf8;
      animation: scrolled 0.3s ease forwards;
    }
  }
}

.lg-brand {
  margin-right: 10rem;
  h3 {
    margin-top: 2rem;
  }
}

#header-navbar {
  z-index: 10;
  .nav-item {
    .nav-link {
      color: #fff;
    }
  }
}
